body{
    background-color: white;
}
main{

    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#image {
    max-width: 50%;
    max-height: 50%;
}